.wrapper {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
}
.inner {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	padding-left: 60px;
}
.action {
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	a {
		text-decoration: none;
		color: black;
	}
	button {
		background-color: #54c694;
		border: none;
		outline: none;
		padding: 10px 14px;
		border-radius: 120px;
		font-size: 90%;
		color: white;
	}
}
