.wrapper {
	height: 65vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.content {
	font-size: 120%;
	width: 50%;
	padding: 10px 50px;
	span {
		color: #7dd7ad;
	}
	h1 {
		font-size: 45px;
	}
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content div:not(:last-child) {
	margin-bottom: 14px;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p {
		line-height: 17px;
	}
}
.intro > *:not(:last-child) {
	margin-bottom: 14px;
}
.image {
	width: 40%;
	img {
		width: 60%;
	}
}
.trending {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
	color: #7dd7ad;
}

.searchContent {
	width: 450px;
	height: 40px;
	background-color: white;
	border-radius: 92px;
	height: 40px;
	display: flex;
	justify-content: center;
	input {
		position: relative;
		border: none;
		outline: none;
	}

	button {
		margin: 7px 0px;
		padding: 0px 30px;
		border-radius: 92px;
		border: none;
		outline: none;
		background-color: #76d5ab;
		color: white;
	}
	.searchIcon {
		position: absolute;
		left: 115px;
		top: 70.5%;
		transform: translateY(-50%);
		font-size: 16px;
	}
}
